:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 5px;
  --hamburger-margin: 30px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --foreground-light-color: white;
  --foreground-dark-color: #333;
  --background-light-color: white;
  --background-dark-color: black;
  --button-primary-color: red;
  --button-secondary-color: grey;
  --button-secondary-light-color: white;
  --button-secondary-dark-color: rgb(102, 102, 102);
  --max-border-radius: 999px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

body {
  margin: 0;
}

nav a {
  color: var(--foreground-light-color);
  text-decoration: none;
}

input[type="text"] {
  height: 30px;
  width: 100%;
  border-radius: 9px;
}

main {
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto 10px 10px 10px;
  padding: 10px;
}

main p {
  text-align: justify;
}

footer {
  background-color: var(--background-dark-color);
  text-align: center;
}

h2 {
  border-left: 4px solid var(--button-primary-color) ;
  padding-left: 10px;
}

.button {
  margin-bottom: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--max-border-radius);
  text-decoration: none;
}

.button-primary {
  background-color: var(--button-primary-color);
  color: var(--foreground-light-color);
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: var(--foreground-dark-color);
}

.button-secondary-light {
  background-color: var(--button-secondary-light-color);
  color: var(--foreground-dark-color);
}

.button-secondary-dark {
  background-color: var(--button-secondary-dark-color);
  color: var(--foreground-dark-color);
}

.grid-layout-menu { grid-area: menu; }
.grid-layout-header { grid-area: header; }
.grid-layout-main { grid-area: main; }
.grid-layout-subscription { grid-area: subscription; }
.grid-layout-weather { grid-area: weather; }
.grid-layout-short-video { grid-area: short-video; }
.grid-layout-advertisement { grid-area: advertisement; }
.grid-layout-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
      'menu'
      'header'
      'weather'
      'main'
      'short-video'
      'advertisement'
      'subscription'
      'footer';
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.grid-layout-menu {
  background-color: var(--background-dark-color);
  height: 90px;
}

.grid-layout-header {
  background-image: url(main.jpg);
  color: var(--foreground-light-color);
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin: 25px;
  height: 35px;
  width: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background-light-color);
  border-radius: var(--max-border-radius);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.flex-top-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 10px;
  translate: -200%;
  background-color: var(--background-dark-color);
  color: var(--foreground-light-color);
  gap: 1em;
}

.flex-top-menu-item {
  margin-top: 5px;
  text-wrap: nowrap;
  text-align: center;
}

.hamburger-menu:has(input:checked) + .flex-top-menu {
  translate: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-item {
  flex: 100%;
}

.flex-container-item a {
  color: var(--foreground-dark-color);
  text-decoration: none;
}

img.news {
  border-radius: 5px;
  max-height: 180px;
  object-fit: cover;
}

img.video {
  border-radius: 5px;
  max-height: 180px;
  object-fit: cover;
}

.video-box {
  position: relative;
  display: inline-block;
}

.video-box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: url(button-play.svg) no-repeat center center;
  background-size: 20%;
}

@media (min-width: 768px) {
  main {
    margin-right: 40%;
  }

  .flex-container {
    flex-direction: row;
  }

  .grid-container {
    grid-template-areas:
      'menu menu menu menu'
      'header header header header'
      'main main main weather'
      'main main main subscription'
      'main main main advertisement'
      'main main main advertisement'
      'short-video short-video short-video advertisement'
      'short-video short-video short-video advertisement'
      'footer footer footer footer';
  }

  .grid-layout-menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
  }

  .hamburger-menu {
    display: none;
  }

  .flex-top-menu {
    position: relative;
    display: flex;
    translate: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .flex-top-menu-item:first-child {
    flex: 1;
    text-align: right;
  }
}
