:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 5px;
  --hamburger-margin: 30px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --foreground-light-color: white;
  --foreground-dark-color: #333;
  --background-light-color: white;
  --background-dark-color: black;
  --button-primary-color: #d92626;
  --button-secondary-color: rgb(78, 78, 78);
  --button-secondary-light-color: white;
  --button-secondary-dark-color: #333;
  --button-secondary-light-dark-color: rgba(208, 208, 208, 0.8);
  --button-bold: 700;
  --weather-font-family-light: 'Roboto', sans-serif;
  --weather-font-family-medium: 'Roboto Medium', 'Roboto', sans-serif;
  --weather-font-medium: 500;
  --weather-font-family-bold-max: 'Roboto Black', 'Roboto', sans-serif;
  --weather-font-bold-max: 900;
  --grid-layout-margin: 15px;
  --max-border-radius: 999px;
  --border-radius: 10px;
  --subscription-background-color: #d92626;
  --projekt-information-background-color: #d92626;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

body {
  margin: 0;
}

nav a {
  color: var(--foreground-light-color);
  text-decoration: none;
}

input[type="search"] {
  height: 30px;
  width: 100%;
  border-radius: 9px;
}

footer {
  background-color: var(--background-dark-color);
  text-align: center;
}

footer p {
  color: var(--foreground-light-color);
}

footer nav {
  color: var(--foreground-light-color);
}

footer nav a {
  text-wrap: nowrap;
}

h2 {
  border-left: 4px solid var(--button-primary-color);
  padding-left: 10px;
}

h3 {
  margin: 0px 10px 20px 10px;
}

a {
  text-decoration: none;
}

.main-wrapper {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: var(--border-radius);
}

.main-wrapper h2 {
  border-left: none;
  padding-left: 0px;
}

.main-wrapper p {
  text-align: justify;
}

.button {
  padding: 5px 10px;
  border-radius: var(--max-border-radius);
}

.button-primary {
  background-color: var(--button-primary-color);
  color: var(--foreground-light-color);
  font-weight: var(--button-bold);
}

.button-secondary {
  background-color: var(--button-secondary-color);
  color: var(--foreground-light-color);
  font-weight: var(--button-bold);
}

.button-secondary-light-dark {
  padding: 2px 8px;
  background-color: var(--button-secondary-light-dark-color);
  color: var(--background-dark-color);
  font-weight: var(--button-bold);
}

.button-secondary-light {
  background-color: var(--button-secondary-light-color);
  color: var(--foreground-dark-color);
  font-weight: var(--button-bold);
}

.button-secondary-dark {
  background-color: var(--button-secondary-dark-color);
  color: var(--foreground-light-color);
  font-weight: var(--button-bold);
}

.button-next {
  height: 37px;
}

.grid-layout-menu {
  grid-area: menu;
  background-color: var(--background-dark-color);
  height: 90px;
}

.grid-layout-header {
  grid-area: header;
  background-image: url(main.jpg);
  color: var(--foreground-light-color);
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--grid-layout-margin);
  border-radius: var(--border-radius);
}

.grid-layout-main {
  grid-area: main;
  margin: var(--grid-layout-margin);
}

.grid-layout-video {
  grid-area: video;
  margin: var(--grid-layout-margin);
}

.grid-layout-subscription
{ 
  grid-area: subscription;
  margin: var(--grid-layout-margin);
}

.grid-layout-subscription p
{ 
  margin-top: 0px;
}

.grid-layout-weather {
  grid-area: weather;
  margin: var(--grid-layout-margin);
}

.grid-layout-advertisement {
  grid-area: advertisement;
  margin: var(--grid-layout-margin);

  img {
    border-radius: var(--border-radius);
  }
}

.grid-layout-footer {
  grid-area: footer;
  margin-top: var(--grid-layout-margin);
}

.grid-container {
  display: grid;
  grid-template-areas:
      'menu'
      'content'
      'footer';
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.grid-subcontainer {
  grid-area: content;
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'video'
      'weather'
      'subscription'
      'advertisement';
}

.logo {
  margin: 25px;
  height: 35px;
  width: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background-light-color);
  border-radius: var(--max-border-radius);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.flex-top-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 10px;
  translate: -200%;
  background-color: var(--background-dark-color);
  color: var(--foreground-light-color);
  gap: 1em;
}

.flex-top-menu-item {
  margin-top: 5px;
  text-wrap: nowrap;
  text-align: center;
}

.hamburger-menu:has(input:checked) + .flex-top-menu {
  translate: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-item {
  flex: 100%;
}

nav.flex-container-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.flex-container-item a {
  color: var(--foreground-dark-color);
  text-decoration: none;
}

.news {
  width: 100%;
  padding: 10px;
}

.news-box {
  position: relative;
}

.news-box span {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  margin-right: 5px;
  margin-top: 5px;
}


.category {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.category li {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-wrap: nowrap;
}

.category a:hover {
  background-color: var(--button-primary-color);
}

.video {
  width: 100%;
  padding: 10px;
}

.video-box {
  position: relative;
}

.video-box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: url(button-play.svg) no-repeat center center;
  background-size: 20%;
}

.weather-widget {
  font-family: var(--weather-font-family-light);
  background-color: #333;
  color: #fff;
  border-radius: var(--border-radius);
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.weather-widget .left-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 40px;
}

.weather-widget .right-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.weather-widget .title {
  font-family: var(--weather-font-family-bold-max);
  font-weight: var(--weather-font-bold-max);
  font-size: 24px;
}

.weather-widget .icon-large {
  font-size: 82px;
}

.weather-widget .temp {
  font-size: 30px;
  font-family: var(--weather-font-family-bold-max);
  font-weight: var(--weather-font-bold-max);
}

.weather-widget .description {
  font-size: 20px;
  font-family:var(--weather-font-family-medium);
  font-weight: var(--weather-font-medium);
}

.weather-widget .forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-widget .forecast .day {
  text-align: center;
  margin-left: 15px;
}

.weather-widget .forecast .day .day-name {
  font-size: 30px;
  font-family: var(--weather-font-family-bold-max);
  font-weight: var(--weather-font-bold-max);
}

.weather-widget .forecast .day .temp-range {
  font-size: 20px;
  font-family: var(--weather-font-family-medium);
  font-weight: var(--weather-font-medium);
}

.icon {
  font-size: 50px;
}

.subscription-container {
  border-radius: var(--border-radius);
  background-color: var(--subscription-background-color);
  text-align: center;
  padding-bottom: 20px;
}

.subscription-container p {
  color: var(--foreground-light-color);
  font-size: 1.7rem;
  font-weight: 900;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.advertisement {
  height: 600px;
  width: 100%;
}

.social {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-information {
  background-color: var(--projekt-information-background-color);
  color: var(--foreground-light-color);
  font-weight: var(--weather-font-bold-max);
  padding: 5px;
  margin: 10px 0px 0px;
}

@media (max-width: 1260px) {
  .flex-container-item:nth-last-child(2) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    padding-right: 40%;
  }

  .flex-container {
    flex-direction: row;
  }

  .grid-subcontainer {
    grid-template-columns: auto 400px;
    grid-template-areas:
      'header subscription'
      'main weather'
      'main advertisement'
      'main advertisement'
      'video advertisement';
  }

  .grid-layout-menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
  }

  .hamburger-menu {
    display: none;
  }

  .flex-top-menu {
    position: relative;
    display: flex;
    translate: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .flex-top-menu-item:first-child {
    flex: 1;
    text-align: right;
  }
}
